include README.md README.pypi.md LICENSE COPYING
include FragalyseQt.png FragalyseQt_current_interface.png
recursive-include src/fragalyseqt *.xml *.wsdl *.png
recursive-include src/fragalyseqt/freqtables *.json
prune docs
prune tests
prune contrib
prune debian
prune packaging
global-exclude *.py[cod] __pycache__ .DS_Store
